{% extends 'todo/base.html' %}
{% load static %}
{% block title %}List{% endblock %}
{% block content %}
    <h4>Total:<b>{{total}}</b> out of which<b>{{count}}</b> have status off</h4>
    <br>
    {% for obj in todos %}
        <p><a href="{% url 'todo-detail' obj.pk %}" class="list"><b>{{ forloop.counter}}) </b> {{obj.title}} </a>{% if obj.status %}<i class="fas fa-check-circle"></i>{% endif %}</p>
    {% endfor %}
    <p><a class="btn btn-primary" href="{% url 'todo-create' %}">Create new</a> <a class="btn btn-danger" href="{% url 'todos-delete' %}">Delete all finished</a></p>
{% endblock content %} 
