{% extends 'todo/base.html' %}
{% load static %}
{% block title %}Todo Create{% endblock %}
{% block content1 %}
<a href="{% url 'todo-view' %}" class="arrow"><i class="fa-sharp fa-solid fa-arrow-left"></i></a>
{% endblock content1 %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <p>{{form.title.label_tag}} {{form.title}}</p>
        <p class="updatdesc">{{form.description.label_tag}} {{form.description}}</p>
        <p>{{form.status.label_tag}} {{form.status}}</p>        
        <p><button class="btn btn-primary" type="submit" >Create</button></p>
    </form>
{% endblock content %} 
