{% extends 'todo/base.html' %}
{% load static %}
{% block title %}{{task.title}}{% endblock %}
{% block content1 %}
<a href="{% url 'todo-view' %}" class="arrow"><i class="fa-sharp fa-solid fa-arrow-left"></i></a>
{% endblock content1 %}
{% block content %}
    <p><h4>Created:{{task.created}}</h4></p>
    <p><h3>Title:{{task.title}}</h3></p>
    <p><h3>Description:{{task.description}}</h3></p>
    <p><a class="btn btn-primary" href="{% url 'todo-update' task.id %}">Update</a><a class="btn btn-warning"  href="{% url 'todo-delete' task.id %}">Delete</a></p>
{% endblock content %}